* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/44/698/537/minecraft-natural-scenery-hd-wallpaper-preview.jpg);
    background-repeat:no-repeat;
    background-position-x:center;
    background-size: 100%;
}
/******************************************************************************************/
#twt-l {
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-top: 50px;
}
#yt-l {
    width: 70px;
    height: 50px;
    margin: 5px;
}
#dc-l {
    width: 180px;
    height: 70px;
    margin-left: 50px;
}
#nm-l {
    width: 100px;
    height: 100px;
    margin-left: 80px;
}
#twtt-l {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*********************************************************************************************/
#redes {
    display: inline-block;
    margin-left: 50px;
}
#title {
    margin-left: 560px;
    display: inline-block;
}
#vdo {
    margin-left: 200px;
    margin-top: 50px;
}
